
@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(Model);
}
<br /><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   Add New
</button>
<input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter">
<div id="gridContent" style="padding:20px;">
    @grid.GetHtml(
      htmlAttributes: new
      {
          id = "grid",
          @class = "order-table table table table-bordered table-striped table-condensed"
      },
        mode: WebGridPagerModes.FirstLast,
        columns:
            grid.Columns(
             grid.Column("ID", format: @<text>  <span class="display-mode">@item.id </span> <label id="UserID" class="edit-mode">@item.id</label> </text>, style: "col1Width"),
             grid.Column("First_Name", "First Name", format: @<text>  <span class="display-mode"> <label id="lblName">@item.First_Name</label> </span> <input type="text" id="First_Name" value="@item.First_Name" class="edit-mode" /></text>, style: "col2Width"),
             grid.Column("Last_Name", "Last Name", format: @<text> <span class="display-mode"> <label id="lblSurName">@item.Last_Name</label> </span>  <input type="text" id="Last_Name" value="@item.Last_Name" class="edit-mode" /> </text>, style: "col2Width"),
             grid.Column("Action", format: @<text>
                    <button class="btn btn-sm btn-primary  edit-user display-mode"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                    <button class="btn btn-sm btn-success save-user edit-mode"><span class="glyphicon glyphicon-plus"></span> Save</button>
                    <button class="btn btn-sm btn-danger cancel-user edit-mode"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
            </text>, style: "col3Width", canSort: false)
           ))
    </div>



    @Html.Partial("_Add")
    @*<button id="btnReload" class="btn-sm btn-success"><span class="glyphicon glyphicon-record"></span> Reload</button>*@
    @*<table class="table table-striped" id="tblUser">
        <caption id="loader">
            <img src="~/Content/img/ajax-loader.gif" />

        </caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>*@
<script type="text/javascript">
    (function (document) {
        'use strict';
        debugger;
        var LightTableFilter = (function (Arr) {

            var _input;

            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function (table) {
                    Arr.forEach.call(table.tBodies, function (tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }

            function _filter(row) {
                var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            }

            return {
                init: function () {
                    var inputs = document.getElementsByClassName('light-table-filter');
                    Arr.forEach.call(inputs, function (input) {
                        input.oninput = _onInputEvent;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function () {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });

    })(document);
    $(function () {
        $('.edit-mode').hide();
        $('.edit-user, .cancel-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit-mode, .display-mode').toggle();
        });

        $('.save-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            var First_Name = tr.find("#First_Name").val();
            var Last_Name = tr.find("#Last_Name").val();
            var Id = tr.find("#UserID").html();
            tr.find("#lblName").text(First_Name);
            tr.find("#lblSurName").text(Last_Name);
            tr.find('.edit-mode, .display-mode').toggle(1000);
            var UserModel =
            {
                "Id": Id,
                "First_Name": First_Name,
                "Last_Name": Last_Name
            };
            $.ajax({
                url: '/User/Add',
                data: JSON.stringify(UserModel),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if(data==="True")
                    {
                        $.notify("Data Updated Successfully", "success");
                    }
                    else
                        $.notify("Error Occured while updating data", "error");
                }
            });

        });
    })
    $("#btnSave").click(function () {
        debugger;
        $.ajax({
            url: 'Add',
            type: 'Post',
            data: $('#frmUser').serialize(),
            success: function (res) {
                if (res === "True") {
                    $.notify("success", "Data added Successfully");
                    $("#exampleModal").modal("hide");
                    window.location.href = "/User/Index";
                }
                else {
                    $.notify("BOOM!", "error");
                }
            },
            error: function (res) {

            }
        });

    });
</script>  
    @*<script>

        $(document).ready(function () {

            $("#loader").hide();
            $("#btnReload").click(function () {
                loadData();
            });
       
        function onDeleteClick(btn) {
            window.deleteBtn = btn;
            bootbox.confirm("Are you sure want to delete?", function (res) {
                debugger;
                var id = parseInt(window.deleteBtn.parentNode.parentNode.children[0].innerHTML)
                if (res) {
                    $.ajax({
                        url: 'Delete/' + id,
                        type: 'GET',
                        success: function (res) {
                            if (res === "True") {
                                $.notify("Data Deleted Successfully");
                                window.deleteBtn.parentNode.parentNode.remove();
                            }
                            else {
                                $.notify("BOOM!", "error");
                            }
                        },
                        error: function (res) {

                        }



                    });

                }

            })

        }
        function loadData() {
            $("#loader").show();
            $('table tbody td').remove();
            $.ajax({
                url: 'GetAllUsers',
                type: 'GET',
                success: function (res) {
                    $("#loader").hide();

                    $.each(res, function (i, data) {
                        // var newFormattedDate = $.datepicker.formatDate('mm/dd/yy', new Date(Date(data.DOB)));
                        var tr = "<tr><td>" + data.Id + "</td>" + "<td>" + data.First_Name + "</td>" + "</td>" + "<td>" + data.Last_Name + "</td><td>" + data.Address + "</td>" + "<td>" + data.Email + "</td><td>" + data.Contact_Number + "</td>" + "</tr>";
                        //var tr = "<tr><td>".concat(data.Student_Name) + "</td>"+"<td>".concat(data.Address) + "</td>" + +"<td>"+data.Gender_Id+ "</td>" + + "<td>".concat(data.Caste_Ethnicity_Id) + "</td></tr>";
                        //var tr = "<tr>"
                        //    + "<td>" + "safal" + "</td" >
                        //    +"</tr>";

                        $("table tbody").append(tr);

                    });
                    $('#tblUser').SetEditable();
                },
                error: function (res) {

                }
            });
        }
    </script>*@
