
@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(Model);
}
<br /><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   Add New
</button>
<div id="gridContent" style="padding:20px;">
    @grid.GetHtml(
      htmlAttributes: new
      {
          id = "grid",
          @class = "table table-bordered table-striped table-condensed"
      },
        mode: WebGridPagerModes.FirstLast,
        columns:
            grid.Columns(
             grid.Column("ID", format: @<text>  <span class="display-mode">@item.id </span> <label id="UserID" class="edit-mode">@item.id</label> </text>, style: "col1Width"),
             grid.Column("First_Name", "First Name", format: @<text>  <span class="display-mode"> <label id="lblName">@item.First_Name</label> </span> <input type="text" id="Name" value="@item.First_Name" class="edit-mode" /></text>, style: "col2Width"),
             grid.Column("Last_Name", "Last Name", format: @<text> <span class="display-mode"> <label id="lblSurName">@item.Last_Name</label> </span>  <input type="text" id="SurName" value="@item.Last_Name" class="edit-mode" /> </text>, style: "col2Width"),
             grid.Column("Action", format: @<text>
                    <button class="edit-user display-mode">Edit</button>
                    <button class="save-user edit-mode">Save</button>
                    <button class="cancel-user edit-mode">Cancel</button>
            </text>, style: "col3Width", canSort: false)
           ))
    </div>



    @Html.Partial("_Add")
    <button id="btnReload" class="btn-sm btn-success"><span class="glyphicon glyphicon-record"></span> Reload</button>
    @*<table class="table table-striped" id="tblUser">
        <caption id="loader">
            <img src="~/Content/img/ajax-loader.gif" />

        </caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>*@
<script type="text/javascript">

    $(function () {
        $('.edit-mode').hide();
        $('.edit-user, .cancel-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit-mode, .display-mode').toggle();
        });

        $('.save-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            var Name = tr.find("#Name").val();
            var SurName = tr.find("#SurName").val();
            var UserID = tr.find("#UserID").html();
            tr.find("#lblName").text(Name);
            tr.find("#lblSurName").text(SurName);
            tr.find('.edit-mode, .display-mode').toggle();
            var UserModel =
            {
                "ID": UserID,
                "Name": Name,
                "SurName": SurName
            };
            $.ajax({
                url: '/User/ChangeUser/',
                data: JSON.stringify(UserModel),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert(data);
                }
            });

        });
    })
    $("#btnSave").click(function () {
        debugger;
        $.ajax({
            url: 'Add',
            type: 'Post',
            data: $('#frmUser').serialize(),
            success: function (res) {
                if (res === "True") {
                    $.notify("success", "Data added Successfully");
                    $("#exampleModal").modal("hide");
                    loadData();
                }
                else {
                    $.notify("BOOM!", "error");
                }
            },
            error: function (res) {

            }
        });

    });
</script>  
    @*<script>

        $(document).ready(function () {

            $("#loader").hide();
            $("#btnReload").click(function () {
                loadData();
            });
       
        function onDeleteClick(btn) {
            window.deleteBtn = btn;
            bootbox.confirm("Are you sure want to delete?", function (res) {
                debugger;
                var id = parseInt(window.deleteBtn.parentNode.parentNode.children[0].innerHTML)
                if (res) {
                    $.ajax({
                        url: 'Delete/' + id,
                        type: 'GET',
                        success: function (res) {
                            if (res === "True") {
                                $.notify("Data Deleted Successfully");
                                window.deleteBtn.parentNode.parentNode.remove();
                            }
                            else {
                                $.notify("BOOM!", "error");
                            }
                        },
                        error: function (res) {

                        }



                    });

                }

            })

        }
        function loadData() {
            $("#loader").show();
            $('table tbody td').remove();
            $.ajax({
                url: 'GetAllUsers',
                type: 'GET',
                success: function (res) {
                    $("#loader").hide();

                    $.each(res, function (i, data) {
                        // var newFormattedDate = $.datepicker.formatDate('mm/dd/yy', new Date(Date(data.DOB)));
                        var tr = "<tr><td>" + data.Id + "</td>" + "<td>" + data.First_Name + "</td>" + "</td>" + "<td>" + data.Last_Name + "</td><td>" + data.Address + "</td>" + "<td>" + data.Email + "</td><td>" + data.Contact_Number + "</td>" + "</tr>";
                        //var tr = "<tr><td>".concat(data.Student_Name) + "</td>"+"<td>".concat(data.Address) + "</td>" + +"<td>"+data.Gender_Id+ "</td>" + + "<td>".concat(data.Caste_Ethnicity_Id) + "</td></tr>";
                        //var tr = "<tr>"
                        //    + "<td>" + "safal" + "</td" >
                        //    +"</tr>";

                        $("table tbody").append(tr);

                    });
                    $('#tblUser').SetEditable();
                },
                error: function (res) {

                }
            });
        }
    </script>*@
